/* Aside */

aside {
    max-width: 1300px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
 }

#asideLeft {
    width: 500px;
    padding: 10px;
    font-size: larger;
}

#asideLeft h2 {
    font-size: 32pt;
    margin-bottom: 10px;
}

#cardStores {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

#linha-pontilhada-vertical {
    max-height: 600px;
    height: 100%;
}

#cardStores img {
    max-width: 200px;
    width: 100%;
}

#asideRigth {
    width: 500px;
}

#asideRigth img{
    max-width: 600px;
    width: 100%;
}