@font-face {
    font-family: 'Blank River';
    src: url('./fonts/Blank\ River.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* FOOTER */


/*Rodapé da página*/
footer {
    width: 100%;
    /*Rodapé ocupando 100% de largura da página*/
    display: flex;
    /*Flexiblizando o conteúdo interno do footer*/
    flex-direction: row;
    /*Estabelecendo um direção alinhada dos blocos internos do footer */
    font-family: 'Poppins', sans-serif;
   
}

/*Título do tipo h1 do footer lado esquerdo*/
footer h1 {
    text-align: center;
    /*Centralizando o título*/
    font-family: 'Blank River', sans-serif;
    /*estabelenco fonte: 'fonteDotitulo' para o título*/
    margin-top: 20px;
}

/*Div esquerda do footer*/
#footerLeft {
    background-color: black;
    /*estabelencedo cor de fundo preta para o footer esquerdo*/
    color: white;
    /*estabelecendo cores de letras brancas para o footer esquerdo*/
    width: 100%;
    /*estabelenco largura de 95% da página para o footer esquerdo*/
    margin: auto;
  
}

/*Conteúdo do footer*/
#footerLeftColumns {
    display: flex;
    /*Flexiblizando as 4 colunas*/
    flex-direction: row;
    /*Alinhando as quatro colunas*/
    margin: auto;
    /*Estabelecendo 10% de distanciamento do lado esquerdo*/
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 30px;
}
.columFooter{
    flex-grow: 1;
    flex-basis: 200;
}

/*Conteúdo das linhas das colunas*/
.columFooter ul li {
    list-style: none;
    /*Retirando os pontinhos das listas*/
    margin-top: 50px;
    /*espaçamento entre as linhas*/
}

/*Div para a estilização dos ícones*/
#footerLeftButtons img{
width: 50px;
}
#footerLeftButtons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}
#footerLeftButtons li{
    list-style: none;
    cursor: pointer;
}


/*Div direita do footer*/
#footerRigth {
    background-color: rgb(63, 4, 63);
    /*Cor de fundo da div direita do footer*/
    width: 40%;
    /*largura do footer da direita*/
}

/*Título do tipo h3 do footer direito*/
#tituloRodepeRight {
    margin-top: 25px;
    /*distanciamento em relação ao topo do título*/
    margin-left: 30px;
    /*distancimento em relação a margem esquerda do título*/
    font-size: 20px;
    /*fonte da letra do título*/
    text-align: justify;
    /*título justificado*/
    color: white;
    /*cor da letra do título*/
}

/*paragrafo do tipo h3 do footer direito*/
#paragrafoRodapeRight {
    margin-top: 50px;
    /*Distanciamento em relação ao topo do paragrafo*/
    margin-left: 30px;
    /*distancimento em relação a margem esquerda do paragrafo*/
    font-size: 20px;
    /*fonte da letra do paragrafo*/
    text-align: justify;
    /*paragrafo justificado*/
    color: white;
    /*cor da letra do paragrafo*/
}

#inputFooterDireito {
    width: 80%;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 30px;
   
}

/*Input do tipo text do footer direito*/
#footerRigth #inputFooterDireito input[type='email'] {
    position: absolute;
    /*posição absoluta em relação a div searchBar*/
    height: 100%;
    /*Altura de 100%*/
    width: 70%;
    /*Largura de 100%*/
    border: none;
    /*sem borda no input*/
    font-size: 10px;
    /*Tamanho da letra*/
    padding-left: 10px;
    /*Espaçãmento em relação à esquerda*/
    border-radius: 10px;
    /*arredeondamento do input*/
    padding: 20px;
    
}

/*Estilizar o icone de email dentro do input*/
#footerRigth #inputFooterDireito i {
    position: absolute;
    right: 5px;
    font-size: 15px;
    color: rgb(7, 7, 7);
    cursor: pointer;
    margin-right: 130px;
    height: 10px;
}

/*Modificações feito por Vitor Pessoa Silva*/
/*Divs para responsividade*/
 /*Rodapé responsivo max 726px*/
@media (max-width: 450px) {
    footer{
        display: flex;
        flex-direction: column-reverse;
        font-family: 'Poppins', sans-serif;
    }
    #footerRigth{
        width: 100%;    
    }
    #inputFooterDireito{
        margin-bottom: 20px;
        
    }
    #footerLeftButtons{
        display: flex;
        
    }
    #footerLeftColumns .columFooter ul h3{
       
    
       text-align: center;
    }
    #footerLeftColumns .columFooter ul li{
        text-align: center;  
    }
    #footerLeftColumns{
        margin-left: 0;
       
        justify-content: center;
        align-items: center;
    }
    #inputFooterDireito {
        width: 80%;
        height: 30px;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 50px;
        margin-left: 30px;
       
    }
    #footerRigth #inputFooterDireito input[type='email'] {
        position: absolute;
        /*posição absoluta em relação a div searchBar*/
        height: 100%;
        /*Altura de 100%*/
        width: 70%;
        /*Largura de 100%*/
        border: none;
        /*sem borda no input*/
        font-size: 10px;
        /*Tamanho da letra*/
        padding-left: 10px;
        /*Espaçãmento em relação à esquerda*/
        border-radius: 10px;
        /*arredeondamento do input*/
        padding: 20px;
        
    }
    #footerRigth #inputFooterDireito i {
        position: absolute;
        right: 5px;
        font-size: 15px;
        color: rgb(7, 7, 7);
        cursor: pointer;
        
        height: 10px;
    }


    
   
   
    

    
}
 /*Rodapé responsivo max 1130px*/
@media (max-width: 654px) {
    #footerLeftButtons li img{
        width: 25px;
        margin: 0 5px 5px;
    }
    #footerRigth{
        font-size: 3px;
    }
    #footerLeftColumns{
        display: flex;
        flex-direction: column;
        
        
        
    }
   

    
    

}