@font-face {
    font-family: 'Blank River';
    src: url('./fonts/Blank\ River.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* COntainer tela principal login */
#main {
    max-width: 1366px;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

/* COntainer dos Input */

#loginContent {
    width: 50%;
    height: 1044px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
}

#loginContent h1 {
    font-family: 'Blank River', sans-serif;
    font-size: 40pt;
}

/* Inputs */
#loginContent input {
    max-width: 400px;
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #D9D9D9;
    margin-bottom: 20px;
}

#loginContent label {
    max-width: 400px;
    width: 100%;
    float: left;
}

/* Botão */
#LoginButton {
    max-width: 340px;
    width: 100%;
    background-color: #1b0935;
    color: white;
    font-size: large;
    padding: 7px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-block: 10px;
}

/* Esqueci a senha e cadastrar */
#loginText {
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 10px;
    color: #694799;
}

#loginText a,
#loginText a:visited {
    color: #694799;
}

/* Linha */
#loginContent hr {
    max-width: 400px;
    width: 100%;
    border: solid 1px;
    margin-block: 10px;
}

#loginGoogle {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 10px;
}

#loginGoogle img {
    width: 50px;
}

/* container icones */
#loginGoogleIcons {
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-block: 10px;
}

/* Container BG */
#LoginBackground {
    background-color: #1b0935;
    background-image: url('../img/fundoroxo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    max-height: 1024px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 32pt;
}

#bordaBG {
    background-color: transparent;
    width: 90%;
    height: 90%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#LoginBackground p {
    width: 90%;
}