@font-face {
  font-family: 'Blank River';
  src: url('./fonts/Blank\ River.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


main {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}
/* Edicao da area Categorias */
.categorias {
  /* Toda a secao de categorias */
  display: flex;
  /* display mais flexivel pra edicao */
  justify-content: space-between;
  /* alinha os elementos como o mesmo espaco entre eles */
  margin-bottom: 40px;
  /* espacamento do conteudo abaixo */
}

.categoria {
  position: relative;
  /* posicao diferente da classe pai */
  flex: 1;
  /* itens com o mesmo tamanho */
  margin: 20px 15px;
  /* margem do lado esquerdo e superior*/
}

.categoria img {
  /* Edicao de todas as imagens de categorias */
  width: 100%;
  /* Tamanho das Imagens */
  border-radius: 10px;
  /* Arredondar as bordas */
}

/* fim da area Categorias */


/* Título */
.tituloPromocao {
  text-align: center;
  /* alinhamento do texto*/
  font-size: 40px;
  /* Tamanho da fonte*/
  margin-bottom: 40px;
}

/* Fim de titulos */


/* Produtos */
.promocao {
  display: grid;
  /* coloca o conteudo em grades*/
  grid-template-columns: repeat(4, 1fr);
  /* quatro colunas com o mesmo tamanho*/
  gap: 20px;
  /* espacamento entre os elementos*/
  text-align: center;
  /* alinhamento do texto*/
  margin-left: 40px;
  margin-right: 40px;
}

.produtosPromocao img {
  width: 100%;
  /* Tamanho das Imagens */
  border-radius: 10px;
  /* Arredondar as bordas */
}

.produtosPromocao p {
  margin: 10px 0 5px;
  /* margem superior, esquerda e inferior*/
}

/* Fim de Produtos */


/* Botao ver mais */
.botaoVerMais {
  text-align: center;
  /* Alinhamento do texto */
  margin: 30px 0;
  /* espacamento da margem */
}

.botaoVerMais button {
  background-color: black;
  /* cor do fundo do botao*/
  color: white;
  /* cor do texto*/
  padding: 10px 20px;
  /* espacamento das bordas*/
  border: none;
  /* sem a borda padrao*/
  border-radius: 5px;
  /* arredonda borda*/
  cursor: pointer;
  /* maozinha no cursor*/
}

.botaoVerMais button:hover {
  opacity: 80%;
}

/* fim da edicao Botao ver mais */


/* Banner Inferior */
.bannerInferior img {
  width: 100%;
  /* Tamanho da imagem */
  margin-top: 40px;
  /* espaco do conteudo superior*/
}